<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>


    <!-- Omers Work -->
    <link rel="stylesheet" href="css/custom_css.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Omers work -->


  </head>
  <body ng-app="starter">

    <ion-view>
      <ion-content>
        <div ng-controller="mapController">

        <div id="googleMap" style="width:100%;height:400px;"></div>
        <div class="container">
          <div class="row">
            <div>
              <div class="well-block">
                <div class="well-title">
                  <!--<h2>Book Careem!</h2>-->
                </div>
                <form>
                  <!-- Form start -->
                  <div class="row">
                    <!-- Select Basic -->
                    <div class="col-md-12">
                      <div class="col-md-8">
                        <label class="control-label" for="name">Car Type</label>
                        <div class="dropdown">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" ng-model="carType.title">{{carType.title || "Select Car Type"}}
                            <span class="caret"></span></button>
                          <ul class="dropdown-menu" ng-model="pickUp">
                            <li ng-repeat="carType in carTypes"><a ng-disabled="!carType.is_available" href="#" ng-click="setCarType(carType)">{{carType.title}}</a></li>
                          </ul>
                        </div>


                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="control-label" for="name">Pickup Location</label>
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" ng-model="pickUp.title">{{pickUp.title || "Select Pickup Location"}}
                          <span class="caret"></span></button>
                        <ul class="dropdown-menu" ng-model="pickUp">
                          <li ng-repeat="location in locations"><a href="#" ng-click="setPickupLocation(location)">{{location.title}}</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- Text input-->
                    <div class="col-md-6">
                      <!--<div class="form-group">-->
                        <!--<label class="control-label" for="email">Drop Location</label>-->
                        <!--<input ng-model="dropOff" id="d_loc" name="email" type="text" placeholder="North Karachi" class="form-control input-md">-->
                      <!--</div>-->
                      <label class="control-label" for="name">Dropoff Location</label>
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" ng-model="dropOff.title">{{dropOff.title || "Select Pickup Location"}}
                          <span class="caret"></span></button>
                        <ul class="dropdown-menu" ng-model="pickUp">
                          <li ng-repeat="location in locations"><a href="#" ng-click="setDropoffLocation(location)">{{location.title}}</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- Text input-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="date">Fair Estimate</label><br>
                        <label class="control-label" id="fair" name="date">{{fairEstimate}}</label>
                      </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="time">Promo Code</label>
                        <input id="p_code" name="email" ng-model="promoCode" type="text" placeholder="Chalo50" class="form-control input-md">
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group col-xs-6" ng-show="!isRideValid">
                        <label class="control-label" for="time">Contact Number</label>
                        <input id="p_code" ng-model="phoneNumber" name="email" type="text" placeholder="+92-3433450811" class="form-control input-md">
                      </div>

                      <div class="form-group col-xs-6" ng-show="isRideValid">
                        <label class="control-label" for="time">Verification Code</label>
                        <input id="p_code" ng-model="verificationCode" name="email" type="text" placeholder="12345" class="form-control input-md">
                      </div>

                      <div class="form-group col-xs-6">
                        <br>
                        <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-success center-block btn-group-justified" ng-click="verifyNumber(phoneNumber)" ng-if="!isRideValid">Verify</button>

                        <button id="singlebutton" name="singlebutton" class="btn btn-lg btn-success center-block btn-group-justified" ng-click="createRide()" ng-if="isRideValid">Chalo</button>


                      </div>

                    </div>
                  </div>

                </form>
                <!-- form end -->
              </div>
            </div>
          </div>
        </div>
        </div>





















        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa8Z6R2zwkcfWFZSSrQNZUC5-Q9eynanw"></script>
      </ion-content>
    </ion-view>
  </body>
</html>
